@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}


body {
    background-color: #5B2386;
    font-family: 'Noto Sans KR';
    /* margin: auto; */
    /* position: fixed; */
    /* position: relative; */

}

.wrapper {
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;

    /* margin: 20px 0; */
}


.header {
    width: 600px;
    position: relative;
    margin: 150px auto;
    text-align: center;
}


.tit-img {
    width: 584px;
    height: 112px;
    /* z-index: 20; */
}

.clock-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 261px;
    height: 265px;
    /* z-index: 1; */
}

.img-txt {
    width: 486px;
    height: 40px;
}

.desc {
    position: relative;
    width: 486px;
    margin: 150px auto;
    text-align: center;
}

.img-quotes {
    width: 493px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

strong {
    font-weight:bolder;
    font-size: 24px;
    line-height: 24px;
} 


.txt-desc {
    width: 373px;
    height: 85px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont-inp {
    /* margin: 350px auto 10px; */
    /* text-align: center; */
    position: relative;
    font-size: 24px;
    line-height: 70px;
    font-weight: 400px;
}


.input_field, .input_time {
    font-weight: 400;
    font-size: 24px;
    color: #BABCBE;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    box-sizing: border-box;

}

.input_txt {
    margin: 100px;
}

.result-btn {
    position: relative;

}

.btn-exc {
    /* position: relative; */
    /* top: 113px; */
    width: 565px;
    height: 66px;
    border-radius: 56px;
    background-color: #FCEE21;
    color: #5B2386;
    font-Weight: 700;
    font-size: 24px;
    line-height: 24px;
    vertical-align: top;
}

/* 화면 줄일 때 이미지 사라지지 않기 위해 absolute를 사용하지 한고 vertical-align으로 배치함 */
.finger-click {
    /* position: absolute; */
    /* top: 15px; */
}

.loading {
    display: block;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%);
    text-align: center;
    /* background-color: white; */
}
.loading_img {
    display: none;
    transition: all 4s;
}
.loading_img:hover {
    transform : rotate(980deg)
}

.cont-result {
    margin: 100px auto;
}

.txt-wannabe, .txt-time {
    font-size: 24px;
    line-height: 50px;
    font-weight: 400px;
}

.field-result, .time-result {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    vertical-align: middle;
}

.go {
    margin: 100px auto;
}

.btn-go, .btn-share {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #5B2386;
    border-radius: 56px;
    height: 66px;
}

.btn-go {
    background-color: #FCEE21;
    width: 356px;
}

.btn-share {
    background-color: #FFFFFF;
    width: 191px;
}

.cont-footer {
    text-align: center;
}

.logo {
    padding: 20px;
}

.txt-footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 17.38px;
    color: #FFFFFF;
    margin-bottom: 100px;
    font-family: 'Noto Sans KR';
}

/* Modal */

.cont-modal {
    display: none;
    width: 900px;
    height: 900px;
    border: 1px solid gray;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 90px;
}

/* .cont-modal.active {
    display: flex;
} */

.close-area {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: 2px solid #5B2386;
    border-radius: 10px;
    /* background-color: red; */
}


.img_licat {
    display: inline-block;
    width: 500px;
}


.btn-go-final {
    border-radius: 56px;
    background-color: #FCEE21;
    color: #5B2386;

    width: 540px;
    height: 90px;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    padding: 2px 6px;
    border: 2px solid #BABCBE;
    /* border-style: outset; */
    box-shadow: 0px 0px 10px 5px #c5c5c5;
}

.modal-title {
    font-family: 'OTEnjoystoriesBA';
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    margin-top: 40px

}

.modal-title > strong {
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;

}